.homepage-banner-list {
	display: flex;
	flex-direction: column;
}

.homepage-banner-list .banner {
	display: block;
	/* width: 100%; */
	/* img have blank space around */
	display: grid;
	place-items: center;
}

.homepage-banner-list img {
	object-fit: contain;
	max-width: 100%;
}
