.main-product {
  margin-top: 3em;
}

.main-product .title {
  font-size: 2.25em;
  font-weight: 600;
  color: var(--secondary-color);
  text-transform: uppercase;

  @media (max-width: 996px) {
    text-align: center;
  }
}

.main-product .content {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  .thumbnail {
    border: 1px solid hsla(0, 0%, 0%, 0.3);
  }

  @media (max-width: 996px) {
    display: flex;
    flex-direction: column;
  }
}

.main-product .desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  color: hsla(0, 0%, 0%, 0.7);

  p {
    line-height: 1.5em;
  }
}

.main-product .size {
  display: flex;
  align-items: center;

  .option-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 0.5rem;
  }

  .option-list .option {
    width: 2em;
    height: 2em;
    transition: border-color linear 0.3s;
    cursor: pointer;
    border: 2px solid hsla(0, 0%, 0%, 0.3);
    line-height: 2em;
    text-align: center;

    &.current,
    &:hover {
      border-color: var(--primary-color);
    }
  }
}

.main-product .price .value {
  color: var(--secondary-color);
}

.relevant-products {
  margin-bottom: 3em;

  .slider {
    overflow-x: hidden;
    max-width: 66%;

    @media (max-width: 996px) {
      max-width: 100%;
    }
  }
}

.relevant-products .slider-navigation {
  position: relative;
  margin-bottom: 3em;
  padding-top: 3em;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);

  .btn {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
  }

  .btn--prev {
    left: 0;
  }

  .btn--next {
    right: 0;
  }
}
