.menupage-category-list {
	position: relative;
	display: flex;
	z-index: 2;
	flex-flow: column nowrap;

	@media (max-width: 996px) {
		/* side-nav position override */
		z-index: 0;
	}
}

.category-item {
	background-position: center center;
	background-size: cover;
	padding: 5rem 0;
}

.category-item .wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 2rem 0;

	@media (max-width: 996px) {
		flex-direction: column;
	}
}

.category-content {
	flex: 0 0 50%;
	display: flex;
	align-items: flex-start;
	flex-flow: column nowrap;
	color: currentColor;

	@media (max-width: 996px) {
		flex-basis: 100%;
		flex-direction: column;
		order: 2;
	}

	.title {
		font-weight: 700;
		font-size: 2.5em;
		text-transform: uppercase;
		margin-bottom: 3rem;
		transition: color 0.3s ease-out;
	}

	.title:hover {
		color: var(--primary-color);
	}

	.desc {
		font-weight: 500;
		font-size: 1.125em;
		margin-bottom: 5rem;
	}

	.view-more-btn {
		padding: 0.5em 3em;
		border: 1px solid currentColor;
		border-radius: 4px;
		cursor: pointer;
		text-transform: uppercase;
		transition: all 0.3s ease-out;
	}

	.view-more-btn:hover {
		background-color: var(--primary-color);
		color: var(--foreground);
		border-color: var(--primary-color);
	}
}

.category-image {
	flex: 0 0 50%;
	position: relative;
	z-index: 1;
	max-width: calc(1200px / 2 - var(--gutter));
}

.category-image a {
	max-width: inherit;
	position: absolute;
	top: 0;
	left: 0;
	translate: 0 -50%;

	@media (max-width: 996px) {
		position: unset;
	}

	img {
		object-fit: contain;
		width: 100%;
	}
}

.category-item:nth-child(1) {
	z-index: 1;
	color: hsl(34.3, 77.8%, 91.2%);
}

.category-item:nth-child(2) {
	z-index: 2;
	color: hsl(120, 100%, 19.6%);

	.category-content {
		align-items: flex-end;
	}
}

.category-item:nth-child(3) {
	z-index: 3;
	color: hsl(22.6, 52.2%, 50%);
}
